<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0,user-scalable=0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        <title>统一身份认证平台</title>
        <script type="text/javascript" src="__STATIC__/js/jquery.js"></script>
        <script type="text/javascript" src="__STATIC__/js/velocity.min.js"></script>
        <script type="text/javascript" src="__STATIC__/js/velocity.ui.js"></script>
        <script type="text/javascript" src="__STATIC__/js/global.js"></script>
        <script type="text/javascript" src="__STATIC__/js/StackBlur.js"></script>
        <script src="__STATIC__/js/placeholder.js"></script>
        <script src="__STATIC__/js/jbase64.js"></script>
        <script src="__STATIC__/js/jquery.cookie.js"></script>
        <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
        <link href="__STATIC__/iconfont/iconfont.css" rel="stylesheet" type="text/css" />
        <link href="__STATIC__/icon/iconfont.css" rel="stylesheet" type="text/css" />
        <link href="__STATIC__/css/login.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript">
            //var userBgImage="__STATIC__/images/b"+Math.round(Math.random()*9)+".jpg";
            var userBgImage = "__STATIC__/images/b" + Math.round(Math.random() * (3 - 1) + 1) + ".jpg";
        </script>
        <script type="text/javascript" src="__STATIC__/js/login.js"></script>
        <style type="text/css">
            .welcome_word {
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-align: center;
                font-size: 16px;
                text-shadow: 0px 0px 3px #333;
                display: none;
                position: absolute;
                top: 50%;
                margin-top: -15px;
                left: 0;
            }
            .click_icon .p:hover {
                box-shadow: 0px 0px 20px rgb(0, 187, 238);
            }
            .click_icon .q {
                background-color: rgb(80, 80, 80);
                background-color: rgba(80, 80, 80, 0.5);
                color: #fff;
            }
        </style>
    </head>
    <body>
        <div class="blurbg">
            <img id="bluri" src="" />
            <img id="bgimg" src="" />
            <canvas id="bgsvg"></canvas>
            <img id="bg" src="" />
            <div class="welcome">
                <div class="welcome_bg"></div>
                <div class="welcome_content">
                    <img class="logo" src="__STATIC__/images/jjdx.png" />
                    <div class="title1">欢迎使用叮云科技统一身份认证平台</div>
                    <img class="title2" src="__STATIC__/images/title.png" />
                    <div class="click_icon">
                        <div class="p1 q">
                            <div class="iconfont icon-qrcode"></div>
                            <div class="its">扫码登录</div>
                        </div>
                        <div class="p1 p">
                            <div class="iconfont icon-input"></div>
                            <div class="its">密码登录</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel_password">
                <div class="head" style="color:white;background-color:white;overflow:visible">
                    <img src="__STATIC__/images/head.png" style="width:102px;height:102px;position:absolute;top:-1px;left:-1px;" />
                </div>
                <form action="#" method="post">
                    <div class="un_input">
                        <input type="text" name="username" id="code_name" placeholder="用户账号/临时ID" />
                    </div>
                    <div class="passwd">
                        <input type="password" name="password" id="code_pwd" placeholder="账户密码" />
                        <div class="iconfont icon-right"></div>
                    </div>
                    <div class="remember" style="left:50%;margin-left:-90px;width:180px;position:absolute;font-size:14px;top:50%;margin-top:90px;color:#fff;text-align:center;">
                        <label for="remember" style="float:left;opacity:0.5;vertical-align:middle;"><input type="checkbox" id="remember" style="vertical-align:middle;" />保持会话有效(7 Days)</label>
                    </div>
                    <div class="err" style="color:red; bottom:29%;left:37%;width:350px;position:absolute;"></div>
                    <input type="hidden" name="__token__" value="{$Request.token}" />
                </form>
                <div class="icons">
                    <div class="iconfont icon-cancel"></div>
                    <div style="font-size:14px;">登录方式</div>
                </div>
                <div class="icons1">
                    <div class="iconfont icon-cancel icon-lock-fill-copy" id="forget"></div>
                    <div style="font-size:14px;">忘记密码</div>
                </div>
                <div class="icons1 icons1-help" style="margin-left:40px;display:block;text-decoration:none;color:#fff;">
                    <div id="help" class="iconfont icon-help login-help-icon"></div>
                    <div style="font-size:14px;">传统版</div>
                </div>
                <a target="_blank" href="https://passport.dingstudio.cn/app-release.apk" class="icons2" style="margin-left:110px;display:block;text-decoration:none;color:#fff;">
                    <div id="icon-phoneapp" class="iconfont icon-phoneapp login-portal-icon"></div>
                    <div style="font-size:14px;">APP下载</div>
                </a>
                <div class="prompt" style="font-size:14px;color:#fff;left:0;margin-left:0;padding:0 20px;text-align:center;width:100%;opacity:0.5;">建议用户使用谷歌、火狐、IE9及以上浏览器，双核浏览器请使用极速模式访问</div>
            </div>
            <div class="panel_qrcode">
                <div class="qrcode" id="login_container">
                    <span>扫码快速认证</span>
                    <hr style="width: 200px;margin-bottom: 20px;" />
                    <div style="height:auto;">
                        <img id="mqrcode" src="https://passport.dingstudio.cn/sso/qrlogin.php" alt="Quick Login" />
                    </div>
                    <a href="javascript:void(0);" target="_self" style="color: #fff;" onclick="mqrcode.src='https://passport.dingstudio.cn/sso/qrlogin.php?t=' + Math.random();startQRTracker();">点此刷新二维码</a>
                </div>
                <div class="icons">
                    <div class="iconfont icon-cancel"></div>
                    <div style="font-size:14px;">登录方式</div>
                </div>
            </div>
        </div>
        <div class="welcome_word"></div>
    </body>

</html>